{
	"trailingComma": "all",
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"react$",
		"^primereact/(.*)$",
		"^components/",
		"[./]components/",
		"^functions/",
		"[./]functions/",
		"./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
