.keyboard-background-default {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.header {
		background-color: white;
		box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
		width: 100%;
		margin-bottom: 2rem;
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.75rem 2rem;
			.img-title {
				display: flex;
				align-items: center;
				justify-content: center;
				.img {
					height: 2rem;
					margin-right: 2rem;
				}
				.title {
					font-weight: bold;
					font-size: 1.2rem;
					color: #6e768a;
				}
			}
			.title {
				font-size: 1.2rem;
				color: #6e768a;
			}
		}
	}
	.keyboard {
		display: flex;
		gap: 0.1rem;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: #525353;
		box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
		padding: 1rem;
		border-radius: 0.3rem;
		.container {
			display: flex;
			gap: 2rem;
			.group {
				display: flex;
				.default-key {
					width: 1.7rem;
					height: 1.7rem;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5rem 0.5rem;
					margin: 0rem 0.2rem;
					background-color: white;
					font-weight: 500;
					font-size: 0.8rem;
					text-align: center;
					color: #414550;
					box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
					cursor: pointer;
					.icon {
						font-size: 1.3rem;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					&.activeDown {
						background-color: red !important;
						color: white !important;
					}
					&.activeHistory {
						background-color: orange;
						color: white;
					}
					&.empty {
						background-color: #525353;
						color: #525353;
					}
				}
			}
		}
	}
	.registry {
		margin: 2rem;
		width: 60rem;
		border-radius: 0.3rem;
		background-color: white;
		box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
		.title {
			font-weight: bold;
			color: #6e768a;
			padding: 1rem;
		}
		.container-registry {
			min-height: 0.5rem;
			max-height: 15rem;
			padding-bottom: 1rem;
			overflow: auto;
			display: flex;
			flex-direction: column;
		}
		.subTitle {
			font-weight: 400;
			color: #6e768a;
			font-size: 0.9rem;
			padding: 0.2rem 1rem;
		}
	}
}
